.all-stores {
  max-width: 1280px;
  width: 100%;
  margin: 20px auto;
  background-color: #151515;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.all-stores-page {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  box-sizing: border-box;
  padding: 8px;
}

.one-store a {
  text-decoration: none;
}

#store-game-description {
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
  height: 20px;
}

@media (max-width: 760px) {
  .one-store h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  #store-game-description p {
    margin-bottom: 10px;
    height: 20px;
  }
  .one-store > div {
    width: 100%;
    height: 160px;
    padding: 10px;
    box-sizing: border-box;
  }
  .one-store > div img {
    width: 100%;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
  }
  .one-store {
    width: 90%;
    height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-weight: normal;
    background-color: #202020;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
}

@media (min-width: 760px) and (max-width: 900px) {
  .one-store h2 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  #store-game-description p {
    margin-bottom: 10px;
    height: 20px;
    font-size: 20px;
  }
  .one-store > div {
    width: 100%;
    height: 240px;
    padding: 10px;
    box-sizing: border-box;
  }
  .one-store > div img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  .one-store {
    width: 90%;
    height: 800px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-weight: normal;
    background-color: #202020;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
}

@media (min-width: 900px) {
  .one-store h2 {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  #store-game-description p {
    margin-bottom: 10px;
    height: 20px;
    font-size: 26px;
  }
  .one-store > div {
    width: 100%;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
  }
  .one-store > div img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  .one-store {
    width: 90%;
    height: 900px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-weight: normal;
    background-color: #202020;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
}
