:root {
  background-color: rgb(194, 205, 182);
}

header {
  max-width: 1280px;
  margin: 0 auto;
  background-color: aquamarine;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
  display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
}

.search-order {
  display: flex;
}
.menu {
  width: 20%;
}
.content {
  width: 80%;
}
.all-games {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.one-game {
  width: 23%;
  height: 300px;
  overflow: hidden;
}
.one-game-pic {
  width: 100%;
  height: 60%;
}

.one-game-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  max-width: 1280px;
  margin: 0 auto;
  background-color: aquamarine;
}
